# Import Libraries

In [12]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import warnings
import os
import sys
import zipfile
warnings.filterwarnings('ignore')
FILE_NAME = '\\StateWise-Data'
import glob

# Read the dataset

In [10]:
absolutepath = os.path.dirname(os.path.abspath("__file__"))
print(absolutepath)

fileDirectory = os.path.dirname(absolutepath)
print(fileDirectory)#Path of parent directory
parentDirectory = os.path.dirname(fileDirectory)
print(parentDirectory)
#Navigate to Strings directory
newPath = os.path.join(parentDirectory, 'data', 'raw')   

print(newPath)

C:\Users\vgarg\Documents\GitHub\Recommendation-System-for-YT\notebook\Preprocessing
C:\Users\vgarg\Documents\GitHub\Recommendation-System-for-YT\notebook
C:\Users\vgarg\Documents\GitHub\Recommendation-System-for-YT
C:\Users\vgarg\Documents\GitHub\Recommendation-System-for-YT\data\raw

In [11]:
# unzipping the datafile from data raw folder to 
with zipfile.ZipFile(newPath+FILE_NAME+'.zip',"r") as zip_ref:
    zip_ref.extractall(absolutepath)

In [48]:
data_files = []
for root,dirs,files in os.walk(absolutepath):
    for file in files:
        if (file.find('.csv')>1):
            data_files.append(root+'\\'+file)
data_files

['C:\\Users\\vgarg\\Documents\\GitHub\\Recommendation-System-for-YT\\notebook\\Preprocessing\\StateWise-Data\\Chattishgarh\\youTubeSearchListChattishgarh.csv',
 'C:\\Users\\vgarg\\Documents\\GitHub\\Recommendation-System-for-YT\\notebook\\Preprocessing\\StateWise-Data\\Haryana\\youTubeSearchListHaryana.csv',
 'C:\\Users\\vgarg\\Documents\\GitHub\\Recommendation-System-for-YT\\notebook\\Preprocessing\\StateWise-Data\\MadhyaPradesh\\youTubeSearchListMadyaPradesh.csv',
 'C:\\Users\\vgarg\\Documents\\GitHub\\Recommendation-System-for-YT\\notebook\\Preprocessing\\StateWise-Data\\Maharastra\\youTubeSearchListMaharastra.csv',
 'C:\\Users\\vgarg\\Documents\\GitHub\\Recommendation-System-for-YT\\notebook\\Preprocessing\\StateWise-Data\\TamilNadu\\youTubeSearchListTamilNadu.csv',
 'C:\\Users\\vgarg\\Documents\\GitHub\\Recommendation-System-for-YT\\notebook\\Preprocessing\\StateWise-Data\\Telangana\\youTubeSearchListTelangana.csv']

In [50]:

df = pd.read_csv(data_files[4],index_col=[0])

In [51]:
df.head()

,ContentId,title,viewCount,likeCount,dislikeCount,commentCount,favoriteCount,publishedAt,description,duration,tags
0,DPgTI-qO_uc,True beauty #shors#Truebeauty#kdrama#LeeSuHo#H...,5,1,0,0,0,2021-10-06T18:31:40Z,NaN,PT40S,[]
1,07MEle9JSdo,penthouse #shorts#kdrama#koreandrama#edit#kdra...,7,1,0,0,0,2021-10-05T19:13:52Z,NaN,PT14S,[]
2,AIH02FlY-Qc,üíîüíî #shorts#kdrama#koreandrama#edit#kdramaedit#...,6,1,0,0,0,2021-10-05T19:09:04Z,NaN,PT9S,[]
3,t9ISH4DtrM4,üî•üî•üî• #shorts#kdramaedit#kdrama#itsoknottobeokay...,6,2,0,0,0,2021-09-21T18:47:25Z,NaN,PT11S,[]
4,Pr4BEqNMYBA,This scene üòØüòçüî• #shorts#kdrama#doomatyourservic...,1,1,0,0,0,2021-09-20T17:51:11Z,NaN,PT22S,[]

In [52]:
df.shape

(136349, 11)

# Check for null value count

In [53]:
df.isnull().sum()

ContentId            0
title                0
viewCount        31482
likeCount        31482
dislikeCount     31482
commentCount     31482
favoriteCount    31482
publishedAt      31482
description      34621
duration         31483
tags             31483
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136349 entries, 0 to 104866
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ContentId      136349 non-null  object
 1   title          136349 non-null  object
 2   viewCount      104867 non-null  object
 3   likeCount      104867 non-null  object
 4   dislikeCount   104867 non-null  object
 5   commentCount   104867 non-null  object
 6   favoriteCount  104867 non-null  object
 7   publishedAt    104867 non-null  object
 8   description    101728 non-null  object
 9   duration       104866 non-null  object
 10  tags           104866 non-null  object
dtypes: object(11)
memory usage: 12.5+ MB

# Converting Object dtype to strings

In [57]:
df['title'] = df['title'].convert_dtypes()
df['description'] = df['description'].convert_dtypes()
df['tags'] = df['tags'].convert_dtypes()

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136349 entries, 0 to 104866
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ContentId      136349 non-null  object
 1   title          136349 non-null  string
 2   viewCount      104867 non-null  object
 3   likeCount      104867 non-null  object
 4   dislikeCount   104867 non-null  object
 5   commentCount   104867 non-null  object
 6   favoriteCount  104867 non-null  object
 7   publishedAt    104867 non-null  object
 8   description    104866 non-null  string
 9   duration       104866 non-null  object
 10  tags           104866 non-null  string
dtypes: object(8), string(3)
memory usage: 12.5+ MB

# Dropping Null Values

In [59]:
df = df.dropna()
df = df.reset_index(drop=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104866 entries, 0 to 104865
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ContentId      104866 non-null  object
 1   title          104866 non-null  string
 2   viewCount      104866 non-null  object
 3   likeCount      104866 non-null  object
 4   dislikeCount   104866 non-null  object
 5   commentCount   104866 non-null  object
 6   favoriteCount  104866 non-null  object
 7   publishedAt    104866 non-null  object
 8   description    104866 non-null  string
 9   duration       104866 non-null  object
 10  tags           104866 non-null  string
dtypes: object(8), string(3)
memory usage: 8.8+ MB

In [61]:
df.isnull().sum()

ContentId        0
title            0
viewCount        0
likeCount        0
dislikeCount     0
commentCount     0
favoriteCount    0
publishedAt      0
description      0
duration         0
tags             0
dtype: int64

# Removing tags, special characters and digits, convert to lower case

In [ ]:
import re
def pre_process(text):
    
    # lowercase
    text=text.lower()
    
    #remove tags
    text=re.sub("","",text)
    
    # remove special characters and digits
    text=re.sub("(\\d|\\W)+"," ",text)
    
    return text

df['text'] = df['title'] + df['description'] + df['tags']
df['text'] = df['text'].apply(lambda x:pre_process(x))

#show the second 'text' just for fun
df['text'][2]

# Create a vocabulary of words, 
Ignore words that appear in 85% of documents, 
Eliminate stop words

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
import re

def get_stop_words(stop_file_path):
    """load stop words """
    
    with open(stop_file_path, 'r', encoding="utf-8") as f:
        stopwords = f.readlines()
        stop_set = set(m.strip() for m in stopwords)
        return frozenset(stop_set)

#load a set of stop words
stopwords=get_stop_words("resources/stopwords.txt")

#get the text column 
docs=df['text'].tolist()

#create a vocabulary of words, 
#ignore words that appear in 85% of documents, 
#eliminate stop words
cv=CountVectorizer(max_df=0.85,stop_words=stopwords)
word_count_vector=cv.fit_transform(docs)

/home/shivshaurya/anaconda3/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:382: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['come', 'vis', 'viser', 'visest'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [14]:
word_count_vector.shape

(101727, 200019)

In [15]:
list(cv.vocabulary_.keys())[:10]

['learn',
 'drama',
 'kdrama',
 'koreandrama',
 'kcdrama',
 'koreanwords',
 'annyeong',
 'kdramagirls',
 'hello',
 'lovers']

In [16]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [17]:
# you only needs to do this once, this is a mapping of index to 
feature_names=cv.get_feature_names()

# Generate tf-idf for the given document

In [18]:
i = 0
tex_list = df['text'].tolist()
tf_idf_vector_list = []
for i in range(len(tex_list)):
    tf_idf_vector=tfidf_transformer.transform(cv.transform([tex_list[i]]))
    i = i+1
    tf_idf_vector_list.append(tf_idf_vector)
    # added to list  
    if ((i%10000) == 0):
        print ('Collecting tf-idf',i)
print(len(tf_idf_vector_list))

Collecting tf-idf 10000
Collecting tf-idf 20000
Collecting tf-idf 30000
Collecting tf-idf 40000
Collecting tf-idf 50000
Collecting tf-idf 60000
Collecting tf-idf 70000
Collecting tf-idf 80000
Collecting tf-idf 90000
Collecting tf-idf 100000
101727

In [19]:
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)

# Sort the tf-idf vectors by descending order of scores

In [20]:
sorted_items_list=[]
i=0
for i in range(len(tf_idf_vector_list)):
    sorted_items=sort_coo(tf_idf_vector_list[i].tocoo())
    i = i+1
    sorted_items_list.append(sorted_items)
    # added to list  
    if ((i%10000) == 0):
        print ('Sorting Done for',i)

Sorting Done for 10000
Sorting Done for 20000
Sorting Done for 30000
Sorting Done for 40000
Sorting Done for 50000
Sorting Done for 60000
Sorting Done for 70000
Sorting Done for 80000
Sorting Done for 90000
Sorting Done for 100000

In [21]:
len(sorted_items_list)

101727

# Extract only the top n; n here is 5

In [22]:
def extract_topn_from_vector(feature_names, sorted_items, topn=5):
    """get the feature names and tf-idf score of top n items"""
    
    #use only topn items from vector
    sorted_items = sorted_items[:topn]

    score_vals = []
    feature_vals = []
    
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])

    #create a tuples of feature,score
    #results = zip(feature_vals,score_vals)
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    
    return results

In [23]:
keyword_list = []
i=0
for i in range(len(sorted_items_list)):
    keywords=extract_topn_from_vector(feature_names,sorted_items_list[i],5)
    i = i+1
    keyword_list.append(keywords)
    # added to list  
    if ((i%10000) == 0):
        print ('Keywords added for',i)

Keywords added for 10000
Keywords added for 20000
Keywords added for 30000
Keywords added for 40000
Keywords added for 50000
Keywords added for 60000
Keywords added for 70000
Keywords added for 80000
Keywords added for 90000
Keywords added for 100000

In [24]:
keyword_list[0:5]

[{'kdrama': 0.46,
  'koreanwords': 0.307,
  'kdramagirls': 0.307,
  'annyeong': 0.307,
  'kcdrama': 0.297},
 {'mv': 0.53,
  'lovealarms': 0.381,
  'se√±orita': 0.314,
  'alarm': 0.262,
  'ytvideo': 0.191},
 {'kdrama': 0.421,
  'savgegirls': 0.281,
  'savagegirlsjkoreandrama': 0.281,
  'howyoulikethatpart': 0.281,
  'dlcfhts': 0.281},
 {'thetaleoftheninetailedep': 0.359,
  'engsub': 0.347,
  'tailed': 0.326,
  'kdrama': 0.269,
  'tale': 0.25},
 {'thetaleoftheninetailedepisode': 0.43,
  'thetaleoftheninetailedfullepisode': 0.215,
  'leeyoen': 0.215,
  'koreandramawithengsub': 0.215,
  'kdramaengsub': 0.215}]

In [25]:
# now print the results
for i  in range(5):
    print("\n=====Title=====")
    print(df['title'][i])
    print("\n=====Description=====")
    print(df['description'][i])
    print("\n===Top5 Keywords===")
    for k in keyword_list[i]:
        print(k,keyword_list[i][k])

=====Title=====
Things I learn from k drama

=====Description=====
#kdrama#koreandrama#kcdrama#koreanwords#annyeong#kdramagirls



********************************************

Hello kdrama lovers!!
I made a ew edit for all of you i hope all of you ll like it if you like it please like share subscribe and do comment to my channel
Tysm ‚ô•
keep supporting ‚ô•

===Top5 Keywords===
kdrama 0.46
koreanwords 0.307
kdramagirls 0.307
annyeong 0.307
kcdrama 0.297

=====Title=====
Love alarm mv x Se√±orita shawn mendes korean mix song

=====Description=====
#kdrama#ytvideo#lovealarms1mv#mv#lovealarm#lovealarms1#kdramamv#se√±orita#kdramalovealarm#musicvideo#koreanmix

********************************************

Hello!!
K-drama lover i made a short mv of love alarm i hope all of you like it if you like it please like share and do subscribe to my channel.
Thank you ‚ô•
Keep suppourting ‚ù§‚ù§

===Top5 Keywords===
mv 0.53
lovealarms 0.381
se√±orita 0.314
alarm 0.262
ytvideo 0.191

=====Title=====
K-drama savage girls part 2 (comment down your first k drama)

=====Description=====
#kdrama#savagegirlsjkoreandrama#howyoulikethatpart2#koreandrama#kcdrama

********************************************

hello!
guys i made an edit of kdrama savgegirls i hope all of you like it if you it pleases like share comment and do subscribe to my channel and give your love to my channel
Thank you
Keep supporting üíúüíú

********************************************

Here is the link of 1 part üëáüëá

https://youtu.be/DLcfHtS94OM

===Top5 Keywords===
kdrama 0.421
savgegirls 0.281
savagegirlsjkoreandrama 0.281
howyoulikethatpart 0.281
dlcfhts 0.281

=====Title=====
The tale of the nine tailed part 1 eng sub

=====Description=====
#thetaleoftheninetailed#thetaleoftheninetailedep1part1#thetaleoftheninetailedep1part1engsub#thetaleoftheninetailedpart1withengsub#engsub#kdrama#koreandrama#kdramawithengsub#Leeyeon#Leedongwook#Namjiah#Joboah#kimbum

********************************************


hello guys
its my first video
its was a kdrama the tale of the nine tailed episode 1 part 1 with eng sub i hope all of you like it if you like it please like share comment and do subscribe my channel and give your love to my channel thank you

===Top5 Keywords===
thetaleoftheninetailedep 0.359
engsub 0.347
tailed 0.326
kdrama 0.269
tale 0.25

=====Title=====
The tale of the nine tailed episode 1

=====Description=====
#thetaleoftheninetailed#kdrama#k&cdrama#thetaleoftheninetailedepisode1#koreandrama#koreandramawithengsub#kdramaengsub#thetaleoftheninetailedfullepisode#thetaleoftheninetailedepisode1withengsub#engsub#fullrpisode#fullepisodewithengsub#LeeDongWook#JoBoAh#LeeYoen#NamJiAh#kimBum

********************************************

Hello guys!
Its my first video i hope you like it if you like please like share comment and do subscribe and give your love to my channel.
Thank you.

===Top5 Keywords===
thetaleoftheninetailedepisode 0.43
thetaleoftheninetailedfullepisode 0.215
leeyoen 0.215
koreandramawithengsub 0.215
kdramaengsub 0.215